/* ← Comentário → */
/* ↑ Comentário */
/*
↓↓↓↓ Seletor */ 
html{
    /*  ↑ Inicio de bloco de declaraçao */
    /*___↓↓↓↓↓↓↓↓↓ Propriedade */
        background-color: #111;
    /*__________________↑ Dois pontos */
    /*          ↓↓↓↓↓ Valor */
        height: 100vh;
    /*               ↑ Separador */
        width: 100vh;
    /*  ↑↑↑↑↑↑↑↑↑↑↑↑↑ Declaração */
    
        display: flex;
        justify-content: center;
        
    /*
    ↓ Fim de bloco de declaração */
    }
    p{ color: white } /* ← Regra */
    body{
        background-color: black;

        max-width: 300px;
        max-height: 80vh;

        overflow: hidden;
    }
h1{
    color: white;
    background-color: black;

margin: 0px;
padding: 5px;
}
